In [1]:
import pandas as pd
import seaborn as sns
from wrangle import wrangle

# Do your work for this exercise in a notebook named explore. Use the techniques in the lesson to explore the store item demand dataset and the opsd dataset.

### For the store item demand data, you will need to choose a method of aggregating such that each observation is a unique date. For both datasets you should choose a method of splitting your data and only explore the training split.

In [2]:
df = wrangle()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 913000 entries, 2013-01-01 00:00:00+00:00 to 2017-12-31 00:00:00+00:00
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item           913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_id        913000 non-null  int64
 3   store          913000 non-null  int64
 4   store_address  913000 non-null  object
 5   store_city     913000 non-null  object
 6   store_id       913000 non-null  int64
 7   store_state    913000 non-null  object
 8   store_zipcode  913000 non-null  int64
 9   level_0        913000 non-null  int64
 10  item_brand     913000 non-null  object
 11  item_id        913000 non-null  int64
 12  item_name      913000 non-null  object
 13  item_price     913000 non-null  float64
 14  item_upc12     913000 non-null  int64
 15  item_upc14     913000 non-null  int64
 16  month          913000 non-null  int64
 17  day_of_week    913000 non-null  object
 18  sales_total    913000 non-null  float64
dtypes: float64(3), int64(10), object(6)
memory usage: 139.3+ MB

In [ ]:
df.to_csv('sales_prep.csv')