In [1]:
import pandas as pd
from acquire import acquire

In [2]:
df = acquire()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item           913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store          913000 non-null  int64
 5   store_address  913000 non-null  object
 6   store_city     913000 non-null  object
 7   store_id       913000 non-null  int64
 8   store_state    913000 non-null  object
 9   store_zipcode  913000 non-null  int64
 10  level_0        913000 non-null  int64
 11  index          730400 non-null  float64
 12  item_brand     913000 non-null  object
 13  item_id        913000 non-null  int64
 14  item_name      913000 non-null  object
 15  item_price     913000 non-null  float64
 16  item_upc12     913000 non-null  int64
 17  item_upc14     913000 non-null  int64
dtypes: float64(3), int64(9), object(6)
memory usage: 132.3+ MB

In [4]:
df.store_state.value_counts()

TX    913000
Name: store_state, dtype: int64

### `All stores are in TX`

In [5]:
df.head(3)

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [6]:
df.store.value_counts()

1     91300
2     91300
3     91300
4     91300
5     91300
6     91300
7     91300
8     91300
9     91300
10    91300
Name: store, dtype: int64

### `10 stores with equal 91,300 transactions`

In [7]:
df.item_price.min(), df.item_price.max(), round(df.item_price.mean(),2) , df.item_price.median()

(0.6, 9.64, 5.16, 5.195)

### `item price info above`

In [8]:
df.sale_amount.min(), df.sale_amount.max(), df.sale_amount.mean(), df.sale_amount.median()

(0.0, 231.0, 52.250286966046005, 47.0)

### `sale amount info above`

In [9]:
df.item_brand.value_counts()

Usda Produce              36520
Ahold                     18260
Suave                     18260
Petmate                   18260
Honest Tea                18260
P.f. Changs               18260
Reese                     18260
Easy-off                  18260
Elmers                    18260
Betty Crocker             18260
Garnier Nutritioniste     18260
Dove                      18260
Ferrara                   18260
Morton                    18260
Earths Best               18260
Riceland                  18260
Triaminic                 18260
Smart Living              18260
Heinz                     18260
Burts Bees                18260
Bear Naked                18260
Munchies                  18260
Lea & Perrins             18260
Hood                      18260
Van De Kamps              18260
Sundown Naturals          18260
Zhenas Gypsy Tea          18260
Doctors Best              18260
Mueller                   18260
Twinings Of London        18260
Sally Hansen              18260
Boars Head                18260
Barefoot                  18260
Back To Nature            18260
Caress                    18260
Ducal                     18260
Moms Best Naturals        18260
The First Years           18260
Pamprin                   18260
Choice                    18260
Careone                   18260
Nakano                    18260
Amys                      18260
Natures Way               18260
Mama Marys                18260
Deerfields Gluten Free    18260
Kelloggs                  18260
Scotch                    18260
Halls                     18260
Name: item_brand, dtype: int64

### `the item_brand Usda Produce seems to have double the amount of observations as other brands`

# Which location has the most sales?

In [10]:
df.groupby("store_id").sale_amount.sum().sort_values()

store_id
7     3320009.0
6     3627670.0
5     3631016.0
1     4315603.0
4     5012639.0
9     5025976.0
10    5360158.0
3     5435144.0
8     5856169.0
2     6120128.0
Name: sale_amount, dtype: float64

### `Store number 2 makes the most money`

In [11]:
df.groupby("store_id").item_price.mean().sort_values()

store_id
1     5.1604
2     5.1604
3     5.1604
4     5.1604
5     5.1604
6     5.1604
7     5.1604
8     5.1604
9     5.1604
10    5.1604
Name: item_price, dtype: float64

### `All stores seem to sell the same items`

In [12]:
df.sale_id.sort_values()

0              1
1              2
2              3
3              4
4              5
           ...
912995    912996
912996    912997
912997    912998
912998    912999
912999    913000
Name: sale_id, Length: 913000, dtype: int64

### `Can drop sale_id`

In [13]:
df.item.value_counts().head(3)

1     18260
38    18260
28    18260
Name: item, dtype: int64

### `Can drop item`

In [14]:
df.head(3)

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [15]:
df.level_0.value_counts().head(3)

0    36520
2    36520
3    36520
Name: level_0, dtype: int64

### `Can drop level_0`

In [18]:
df['index'].sort_values()

0         0.0
371293    0.0
371292    0.0
371291    0.0
371290    0.0
         ...
912995    NaN
912996    NaN
912997    NaN
912998    NaN
912999    NaN
Name: index, Length: 913000, dtype: float64

### `Can drop index`